.box {
  margin: 12px;
  padding: 6px;
  background-color: lightgrey;
  border: 3px solid gray;
  width: 70%;
}

img {
  float: right;
}

.quote {
  margin-top: 12px;
  width: 40%;
  float: left;
}

.list-1 li {
  color: olive;
}

.list-2 li {
  color: gray;
}

.list-2 h3 {
  color: olive;
}