.box {
  margin: 20px;
  padding: 10px;
  background-color: lightgrey;
  border: 2px solid rgb(124, 104, 74);
  width: 70%;
}

.jumbotron {
  background-image: url("https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/5/21/1432223625467/4e41652d-614a-4ead-8ae4-8bba9762f882-2060x2056.jpeg?width=1920&quality=85&auto=format&fit=max&s=32b6a731803adb68a4fb46c1e0d2d5df");
  font-family: Calibri;
}

img {
  margin-top: 30px;
  float: right;
}

.quote {
  margin-top: 24px;
  width: 40%;
  float: left;
}

.list-1 li {
  color: rgb(35, 53, 14);
}

.list-2 li a {
  color: rgb(58, 39, 39);
}

.list-2 h3 {
  color: rgb(61, 61, 37);
}

.important {
  color: red;
}