.box {
  margin: 12px;
  padding: 6px;
  background-color: lightgrey;
  border: 3px solid gray;
  width: 70%;
}

.jumbotron {
  background-image: url("https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/5/21/1432223625467/4e41652d-614a-4ead-8ae4-8bba9762f882-2060x2056.jpeg?width=1920&quality=85&auto=format&fit=max&s=32b6a731803adb68a4fb46c1e0d2d5df")
}

.about {
  float: right;
}

img {
  margin-top: 28px;
  float: right;
}

.quote {
  margin-top: 16px;
  width: 40%;
  float: left;
}

.list-1 li {
  color: rgb(50, 77, 19);
}

.list-2 li a {
  color: rgb(58, 39, 39);
}

.list-2 h3 {
  color: rgb(31, 31, 10);
}

.important {
  color: red;
}